:root {
    --blood-red: #660000ff;
    --claret: #990033ff;
    --chocolate-cosmos: #5f021fff;
    --carmine: #8c001aff;
    --princeton-orange: #FF9000;
    --secundary-princeton-orange: #E5A74FFF;
}
